@import url(/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

body{
  background-color: #E5E5E5 ;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #E5E5E5 ;
  margin:4.8rem 0rem 0rem 7.2rem;
}

header{
  margin: 7.2rem 0rem 0rem 7.2rem;
}

h1{
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
}

h2{
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;

  color: #18161F;
}

h3{
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  color: #787491;
}

.container{
  display: flex;
  gap: 3.2rem;
}

.card{
  border: 0.2rem solid  rgba(214, 212, 226, 1);
  border-radius: 3.2rem;
}

.info{
  width: 32rem;
  height: 23.2rem;

  background: #FFFFFF;
  border-radius: 0rem 0rem 3.2rem 3.2rem;
  padding: 2.4rem;
}

.info .perfil{
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin: 1.6rem 0rem 2.8rem 0rem;
}

.info .perfil :nth-child(2){
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;

  color: #18161F;
}

.info .perfil :nth-child(3){
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;

  color: #9c9b9b;
}

.info .reacts{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.2rem;
}

.comments, .views{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  height: 3.2rem;

  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;

  color: #9c9b9b
}

.comments svg, .views svg{
  width: 2.4rem;
  height: 2.2;
}

